{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <h4>Order Summary</h4>
      <hr>
      {% for items in cart_items %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{items.product.title}}</h5>
          <p>Quantity: {{items.quantity}}</p>
          <p class="fw-bold">Price:{{items.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Total cost + Rs .70={{totalamount}}</p>
      <small>Term and Condition: Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, ullam saepe! Iure
        optio repellat dolor velit, minus rem. Facilis cumque neque numquam laboriosam, accusantium adipisci nisi nihil
        in et quis?</small>
    </div>
    <div class="col-sm-4 offset-sm-1">
      <h4>Select Shipping Address</h4>
      <hr>
      <form action="/paymentdone" id="myform">
        {% for ad in add %}
        <div class="card">
          <div class="card-body">
            <h5>{{ad.name}}</h5>
            <p>{{ad.locality}},{{ad.city}},{{ad.state}}-{{ad.zipcode}}</p>
          </div>
        </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" name="custid" id="custadd{{forloop.counter}}" type="radio" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="">
            Address:{{forloop.counter}} </label>
        </div>
        {% endfor %}
        <div class="text-end">
          <!-- <button type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Continue</button> -->
          <div id="paypal-button-container"></div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock main-content %}
{% block payment-gateway %}
<script src="https://www.paypal.com/sdk/js?client-id=AZTDOEewBZdJ2VcUsFOp_qMQ7QnY_5KUSoub0piJNrnYMFldY9-v43CAx2QzR3-tAhFTefztrsagF-XJ"
  data-sdk-integration-source="button-factory"></script>

<script>

  function initPayPalButton() {

    paypal.Buttons({

      style: {
        shape: 'rect',
        color: 'gold',
        layout: 'vertical',
        label: 'paypal',
      },
      createOrder: function (data, actions) {

        return actions.order.create({

          purchase_units: [{ "amount": { "currency_code": "USD", "value":  '{{totalamount}}'} }]

        });

      },
      onApprove: function (data, actions) {

        return actions.order.capture().then(function (orderData) {
          // Full available details
          console.log('p done')
          alert('Transaction complted by');
            // alert('Transaction complted by'+details.payer.name.given_name);
            document.getElementById('myform').submit();
          // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
          // // Show a success message within this page, e.g.

          // const element = document.getElementById('paypal-button-container');

          // element.innerHTML = '';

          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
        });

      },
      onError: function (err) {

        console.log(err);

      }

    }).render('#paypal-button-container');

  }

  initPayPalButton();

</script>
{% endblock payment-gateway %}